/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);*/
@import url('https://fonts.googleapis.com/css?family=Oxygen');

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Oxygen', sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  margin: 0.1rem;
  font-size: 2.5rem;
}

h2 {
  margin: 0.1rem;
  font-size: 2rem;
}

h3 {
  margin: 0.1rem;
  font-size: 1.375rem;
}

h4 {
  margin: 0.1rem;
  font-size: 1.125rem;
}

h5 {
  margin: 0.1rem;
  font-size: 1rem;
}

h6 {
  margin: 0.1rem;
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.thumbnail {
  display: block;
  width: 100%;
  border-radius: 3px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.thumbnail:hover {
  box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
  cursor: pointer;
}

.featureListItem {
  display: flex;
  align-items: center;
  padding: 10px;
}

.featureListItem + .featureListItem {
  border-top: 1px solid #D7DBDD;
}

.featureListItem__icon,
.featureListItem__description {
  padding: 5px 15px;
}

.featureListItem__description {
  text-align: left;
}

.featureListItem__icon {
  line-height: 0;
}


/*Tabs*/

.tabs {
  /**
   * Setting display to flex makes this container lay
   * out its children using flexbox, the exact same
   * as in the above "Stepper input" example.
   */
  display: flex;
  border-bottom: 1px solid #D7DBDD;
}

  .tab {
    cursor: pointer;
    padding: 5px 30px;
    color: #1fdaeb;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
  }

  .tab.is-tab-selected {
    border-bottom-color: #1fdaeb;
  }

/*SVG*/

.cls-1,.cls-3{fill:none;}.cls-1{stroke:#1fdaeb;}.cls-1,.cls-4{stroke-linecap:round;stroke-width:2px;}.cls-1,.cls-3,.cls-4{stroke-miterlimit:10;}.cls-2,.cls-4{fill:#e4f9fb; stroke:#3eefff; }.cls-3,.cls-4{stroke:#3eefff;}.cls-3{stroke-linecap:square;stroke-width:8px;}
