:root {
  --dark-teal: #3ad8e7;
  --black: #222;
  --orange: #F6B23A;
}

@import url('https://fonts.googleapis.com/css?family=Oxygen');

/* UNIVERSAL */

html { -webkit-font-smoothing: antialiased }

html,
body {
  font-size: 15px;
}

/* TYPOGRAPHY */
* {
  font-family: 'Oxygen', sans-serif;
  color: var(--black);
  line-height: 1.68;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.label {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #999;
}

p {
  font-size: 1.05rem;
  font-weight:300;
  line-height: 1.8rem;
}

a {
  color: var(--black);
  font-weight:300;
  text-decoration: none;
}

.orange-text {
  color: var(--orange);
}

/* TODO: border-bottom: 1px solid var(--black); */

.name {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.5px;
  color: var(--black);
  margin-bottom: 0;
}

.back-container {
  text-align: right;
  max-width: 650px;
}

.back {
  display: inline-block;
  line-height: 3;
  text-align: center;
  min-width: 100px;
  min-height: 50px;
  color: var(--orange);
  font-weight:300;
  text-decoration: none;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.content-bucket {
  /*Controls height of sections for space at the bottom and also to prevent weird interaction glitches*/
  min-height: 1080px;
}

.detail-page-content {
  margin-top: -40px;
}

/*highlight*/
.highlight {
  transition: all 0.2s;
  position: absolute;
  top:0;
  background-color: #FEF4E2;
  left:0;
  z-index: -1;
  display: block;
}

nav {
  position: relative;
  top: 0;
  padding: 10px;
  transition: all 0.5s;
}

.fixed-nav nav {
  position: fixed;
  width: 90%;
}

.is-hidden {
  display: none;
}

.fade-content {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*Social icons from: http://codepen.io/oknoblich/pen/noewy*/

/* GRID */

.cell-name {
  grid-area: name;
  border-right: 1px solid #eee;
  padding-top: 90px;
  padding-right: 15px;
}

.cell-construction {
  grid-area: construction;
  border-right: 1px solid #eee;
  padding-right: 30px;
  padding-top: 80px;
  /* text-align: justify;
  word-break: keep-all;
  hyphens: auto; */
}

.work {
  grid-area: work;
}

.press {
  grid-area: press;
}

.container{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.main-grid{
  display: grid;
  grid-template-columns: 260px 200px auto;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  grid-template-rows: auto 350px;
  grid-template-areas:
  "name construction work"
  "name construction press";
}

/*Handle Mobile cases*/

.mobile-warning {
  display: none;
}

@media (max-width : 750px) {
  .featureListItem {
    display: block;
    align-items: center;
    /*padding: 10px;*/
  }

  .back-container {
    width: 100%;
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    text-align: left;
    background-color: white;
    border-top: 1px solid #ececec;
    padding-left: 10px;
  }

  .back {
    display: inline-block;
    line-height: 3;
    text-align: left;
    min-width: 100px;
    min-height: 50px;
  }

  .detail-page-content {
    margin-top: 0px;
  }

  .mobile-warning {
    display: block;
    position: absolute;
    text-align: center;
    background-color: #fffcbe;
    color: #dda704;
    top: 0;
    left: 0;
    padding: 10px;
    font-weight: bold;
  }

}
